# Build and Release Folders
bin-debug/
bin-release/发发发发发发发发发 这是代码建议
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables发发发发发
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
